* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: poppins;
}

.container {
  width: 85%;
  margin: 0 auto;
}

a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
}
@font-face {
  font-family: michroma;
  src: url(../fonts/Michroma/Michroma-Regular.ttf);
}
header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  box-shadow: 0px 0px 5px 5px rgba(150, 148, 148, 0.685);
}
header .nav {
  padding: 15px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .nav .nav__wrapper .nav__wraper__list {
  display: none;
}
header .nav .nav__wrapper .nav__wrapper__form {
  display: none;
}
header .nav .nav__wrapper .nav__wrapper__asideBar {
  font-size: x-large;
}

@media (min-width: 791px) {
  header .nav .nav__wrapper {
    display: flex;
    justify-content: end;
    width: 100%;
    gap: 30px;
    align-items: center;
    padding-left: 96px;
  }
  header .nav .nav__wrapper .nav__wraper__list {
    display: none;
    display: flex;
    gap: 25px;
    color: #828388;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: none;
  }
  header .nav .nav__wrapper .nav__wraper__list a {
    transition: all 0.3s ease-out;
    background-color: transparent;
    padding: 1px 10px;
    border-radius: 20px;
  }
  header .nav .nav__wrapper .nav__wraper__list a:hover {
    color: white;
    background-color: #184AFB;
  }
  header .nav .nav__wrapper .nav__wrapper__form {
    display: flex;
    gap: 25px;
  }
  header .nav .nav__wrapper .nav__wrapper__form select {
    border: none;
    border-left: 2px solid #CCCCCC;
    padding-left: 10px;
    font-size: 16px;
    color: #56585E;
    outline: none;
  }
  header .nav .nav__wrapper .nav__wrapper__form select:hover {
    border-color: #5b7dfa;
    color: #184AFB;
  }
  header .nav .nav__wrapper .nav__wrapper__form .nav__wrapper__form__btn {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #CCCCCC;
    gap: 10px;
    width: 110px;
    height: 36px;
    padding: 4px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #184AFB;
    background: none;
    font-family: michroma;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  header .nav .nav__wrapper .nav__wrapper__form .nav__wrapper__form__btn:hover {
    background-color: #184AFB;
    color: white;
  }
  header .nav .nav__wrapper .nav__wrapper__form .nav__wrapper__form__btn span {
    font-size: 18px;
    font-family: michroma;
  }
}
@media (min-width: 1084px) {
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
  }
  header .nav .nav__wrapper {
    display: flex;
    justify-content: space-between;
  }
  header .nav .nav__wrapper .nav__wraper__list {
    display: flex;
    justify-content: space-between;
  }
  header .nav .nav__wrapper .nav__wrapper__asideBar {
    display: none;
  }
}
@media (min-width: 1242px) {
  header .nav .nav__wrapper .nav__wrapper__form .nav__wrapper__form__btn {
    width: 190px;
  }
  header .nav .nav__wrapper .nav__wrapper__asideBar {
    display: none;
  }
}
.hero {
  padding-top: 120px;
}
.hero .hero__title {
  padding-bottom: 30px;
}
.hero .hero__title h1 {
  font-weight: 600;
  font-size: clamp(20px, 4vw, 40px);
  color: #2E3038;
}
.hero .hero__imgCover {
  padding-bottom: 16px;
  width: 100%;
}
.hero .hero__imgCover img {
  width: 100%;
}
.hero .hero__info {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 30px;
}
.hero .hero__info .hero__info__desk {
  font-weight: 400;
  font-size: 12px, 2vw, 16px;
  color: #828388;
}
.hero .hero__info .hero__info__btnCover {
  margin-top: 30px;
}
.hero .hero__info .hero__info__btnCover button {
  width: 166px;
  height: 36px;
  border-radius: 20px;
  border: 1px solid #CCCCCC;
  color: #184AFB;
  background-color: transparent;
  font-size: clamp(14px, 2vw, 16px);
}
.hero .hero__info .hero__info__btnCover button:hover {
  background-color: #184AFB;
  color: white;
}
.hero .hero__level {
  margin-top: 30px;
}
.hero .hero__level h1 {
  font-weight: 600;
  font-size: clamp(16px, 4vw, 32px);
}
.hero .hero__level .hero__level__cards {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero .hero__level .hero__level__cards .hero__level__card .hero__level__card__imgCover {
  border-radius: 20px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 100px;
}
.hero .hero__level .hero__level__cards .hero__level__card p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 14px;
  color: #2E3038;
  font-family: michroma;
  text-transform: capitalize;
}
.hero .hero__market {
  margin-top: 80px;
}
.hero .hero__market .hero__market__innerCover {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.hero .hero__market .hero__market__innerCover .hero__market__img {
  margin-top: 20px;
}
.hero .hero__market .hero__market__innerCover .hero__market__innerCover__infos {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero .hero__market .hero__market__innerCover .hero__market__innerCover__infos p {
  font-weight: 400;
  font-size: clamp(12px, 4vw, 16px);
  color: #3D5A5C;
}
.hero .hero__market .hero__market__innerCover .hero__market__innerCover__infos .infos__top {
  display: flex;
  gap: 25px;
}
.hero .hero__market .hero__market__innerCover .hero__market__innerCover__infos .infos__top p {
  font-weight: 400;
  font-size: clapm(14px, 4vw, 24px);
  color: #141E1F;
  font-family: michroma;
}

@media (min-width: 700px) {
  .hero .hero__stats .left__line {
    border-right: 1px solid #CCCCCC;
  }
  .hero .hero__start .hero__start__imgsCover {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  .hero .hero__start .hero__start__imgsCover .hero__start__imgsCover__imgInfo {
    display: flex;
    flex-direction: row;
    height: 200px;
    align-items: center;
  }
  .hero .hero__start .hero__start__imgsCover .hero__start__imgsCover__imgInfo .hero__start__info {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .hero .hero__start .hero__start__imgsCover .hero__start__imgsCover__imgInfo .hero__start__info span {
    margin-top: 60px;
  }
  .hero .hero__tadbir .hero__tadbir__imgs {
    display: flex;
    flex-direction: row;
  }
  .hero .hero__market .hero__market__innerCover {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }
}
@media (min-width: 838px) {
  .hero .hero__infoImgs .hero__infoImgs__img__cover {
    display: flex;
    flex-direction: row;
  }
  .hero .hero__info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .hero .hero__info .hero__info__btnCover {
    padding-bottom: 35px;
  }
}
@media (min-width: 1080px) {
  .hero .hero__infoImgs .hero__infoImgs__img__cover {
    display: flex;
    flex-direction: row;
  }
  .hero .hero__info {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .hero .hero__info .hero__info__btnCover {
    padding-bottom: 35px;
  }
  .hero .hero__level .hero__level__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-left: 300px;
  }
  .hero .hero__stats .left__line {
    height: 120px;
  }
  .hero .hero__infoImgs .hero__infoImgs__info__cover {
    display: flex;
    align-items: center;
  }
  .hero .hero__infoImgs .hero__infoImgs__info__cover .hero__infoImgs__info__cover__btnCover {
    margin-bottom: 25px;
  }
}
@media (min-width: 1300px) {
  .hero {
    padding-left: 300px;
  }
  .hero .hero__stats .left__line {
    height: 120px;
  }
  .hero .hero__infoImgs .hero__infoImgs__img__cover {
    display: flex;
    gap: 20px;
  }
  .hero .hero__infoImgs .hero__infoImgs__img__cover .hero__infoImgs__img {
    padding: 60px 126px;
  }
  .hero .hero__infoImgs .hero__infoImgs__info__cover {
    display: flex;
    align-items: center;
  }
  .hero .hero__infoImgs .hero__infoImgs__info__cover .hero__infoImgs__info__cover__btnCover {
    margin-bottom: 25px;
  }
}
.talim {
  margin-top: 60px;
  margin-bottom: 50px;
}
.talim .talim__top {
  border-top: 1px solid #CCCCCC;
}
.talim .talim__top .talim__top__inner {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}
.talim .talim__top .talim__top__inner img {
  width: 15px;
  height: 15px;
}
.talim .talim__top .talim__top__inner p {
  font-family: michroma;
  text-transform: capitalize;
}
.talim .talim__bottom {
  padding-top: 10px;
}
.talim .talim__bottom .talim__bottomLeft {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.talim .talim__bottom .talim__bottomLeft h1 {
  font-weight: 600;
  font-size: clamp(20px, 4vw, 40px);
  line-height: 25px;
  color: #2E3038;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.talim .talim__bottom .talim__bottomLeft p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #828388;
}
.talim .talim__bottom .talim__bottomLeft button {
  width: 45%;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #CCCCCC;
  color: #184AFB;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.talim .talim__bottom .talim__bottomLeft button:hover {
  background-color: #184AFB;
  color: white;
}
.talim .talim__bottom .talim__bottomRight {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 98px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
}
.talim .talim__bottom .talim__leftTarget {
  margin-top: 50px;
}
.talim .talim__bottom .talim__leftTarget .talim__leftTarget__imgCover {
  width: 100%;
  border-radius: 8px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 53px;
}
.talim .talim__bottom .talim__leftTarget .talim__leftTarget__infos {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.talim .talim__bottom .talim__leftTarget .talim__leftTarget__infos .talim__leftTarget__info {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.talim .talim__bottom .talim__leftTarget .talim__leftTarget__infos .talim__leftTarget__info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-family: michroma;
}
.talim .talim__bottom .talim__leftTarget .talim__leftTarget__infos .talim__leftTarget__info span {
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #CCCCCC;
  padding: 8px 40px;
  color: #184AFB;
}
.talim .talim__bottom .talim__leftTarget .talim__leftTarget__infos .talim__leftTarget__info span:hover {
  background-color: #184AFB;
  color: white;
}
.talim .talim__bottom .talim__bottomTalim__card {
  border: 1px solid #CCCCCC;
  border-radius: 12px;
  margin-top: 50px;
  padding: 20px 24px;
}
.talim .talim__bottom .talim__bottomTalim__card .talim__card__p {
  font-weight: 400;
  font-size: clamp(12px, 4vw, 16px);
  line-height: 20px;
  color: #2E3038;
  font-family: michroma;
}
.talim .talim__bottom .talim__bottomTalim__card .talim__card__img {
  padding: 20px;
  width: 200px;
  height: 200px;
}
.talim .talim__bottom .talim__bottomTalim__card .imgtwo {
  margin-top: 20px;
}
.talim .talim__bottom .talim__bottomTalim__card .talim__bottomTalim__card__infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.talim .talim__bottom .talim__bottomTalim__card .talim__bottomTalim__card__infos p {
  font-weight: 400;
  font-size: clamp(11px, 4vw, 16px);
  font-family: michroma;
  color: rgba(46, 48, 56, 0.6);
  line-height: 20px;
}
.talim .talim__bottom .talim__bottomTalim__card .talim__bottomTalim__card__infos .talim__bottomTalim__link {
  display: flex;
  gap: 15px;
  color: #184AFB;
  align-items: center;
}
.talim .talim__bottom .talim__give__cards {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.talim .talim__bottom .talim__give__cards .talim__give__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 50px;
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 30px;
}
.talim .talim__bottom .talim__give__cards .talim__give__card .talim__give__card__info {
  display: flex;
  align-items: center;
}
.talim .talim__bottom .talim__give__cards .talim__give__card .talim__give__card__info p {
  font-weight: 400;
  font-size: clamp(12px, 2vw, 16px);
  color: #56585E;
  font-family: michroma;
}
.talim .talim__bottom .talim__give__cards .talim__give__card .talim__give__card__info .talim__give__card__info__img {
  width: 50px;
  height: 30px;
}
.talim .talim__bottom .talim__bottom__xalqaro {
  margin-top: 50px;
}
.talim .talim__bottom .talim__bottom__xalqaro .talim__bottom__xalqaro__inner {
  position: relative;
}
.talim .talim__bottom .talim__bottom__xalqaro .talim__bottom__xalqaro__inner .talim__bottom__xalqaro__main__img {
  width: 100%;
}
.talim .talim__bottom .talim__bottom__xalqaro .talim__bottom__xalqaro__inner .xalaqaro__img__text {
  position: absolute;
  font-weight: 400;
  font-size: clamp(10px, 2vw, 16px);
  width: 35%;
  color: #184AFB;
  top: 20px;
  right: 10px;
}
.talim .talim__bottom .talim__bottom__xalqaro .talim__bottom__xalqaro__right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 5px;
}
.talim .talim__bottom .talim__bottom__xalqaro .talim__bottom__xalqaro__right .talim__bottom__xalqaro__right__inner {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.talim .talim__bottom .talim__bottom__xalqaro .talim__bottom__xalqaro__right .talim__bottom__xalqaro__right__inner .rigth__inner__link__cover a {
  display: flex;
  justify-content: space-between;
}
.talim .talim__bottom .talim__bottom__xalqaro .talim__bottom__xalqaro__right .talim__bottom__xalqaro__right__inner .rigth__inner__link__cover a p {
  font-weight: 400;
  font-size: clamp(12px, 2vw, 19px);
  color: #56585E;
  font-family: michroma;
}
.talim .talim__bottom .talim__bottom__xalqaro .talim__bottom__xalqaro__right .talim__bottom__xalqaro__right__inner .rigth__inner__link__cover a img {
  width: 20px;
  height: 20px;
}
.talim .talim__bottom .talim__bottom__xalqaro .talim__bottom__xalqaro__right .talim__bottom__xalqaro__right__inner .talim__bottom__xalqaro__right__inner__btn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #184AFB;
  padding: 6px 40px;
  border-radius: 20px;
  border: none;
  width: 160px;
  background-color: #F5F5F5;
}
.talim .talim__bottom .talim___bottomBlog {
  margin-top: 60px;
}
.talim .talim__bottom .talim___bottomBlog .talim__bottomBlog__cover {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.talim .talim__bottom .talim___bottomBlog .talim__bottomBlog__cover .talim__bottomBlog__cover__inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.talim .talim__bottom .talim___bottomBlog .talim__bottomBlog__cover .talim__bottomBlog__cover__inner .talim__bottomBlog__cover__inner__img {
  width: 100%;
}
.talim .talim__bottom .talim___bottomBlog .talim__bottomBlog__cover .talim__bottomBlog__cover__inner .talim__bottomBlog__cover__inner__infos {
  display: flex;
  gap: 20px;
}
.talim .talim__bottom .talim___bottomBlog .talim__bottomBlog__cover .talim__bottomBlog__cover__inner .talim__bottomBlog__cover__inner__infos p {
  font-weight: 400;
  font-size: clamp(14px, 2vw, 16px);
  color: rgba(46, 48, 56, 0.6);
  font-family: michroma;
}

@media (min-width: 596px) {
  .talim .talim__bottom .talim___bottomBlog .talim__bottomBlog__cover {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 773px) {
  .talim .talim__bottom .talim__give__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .talim .talim__bottom .talim__give__cards .talim__give__card .talim__give__card__mainImg {
    width: 172px;
    height: 120px;
  }
}
@media (min-width: 630px) {
  .talim .talim__bottom {
    display: flex;
    gap: 15px;
  }
  .talim .talim__bottom .talim__bottomLeft h1 {
    margin-top: 45px;
    line-height: 30px;
  }
  .talim .talim__bottom .talim__bottomRight {
    width: 50%;
  }
}
@media (min-width: 630px) {
  .talim #target {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .talim #target .talim__bottomLeft h1 {
    margin-top: 40px;
  }
  .talim #target .talim__bottomRight {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .talim .talim__bottom .talim__bottomLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
  .talim .talim__bottom .talim__bottomLeft h1 {
    line-height: 40px;
  }
  .talim .talim__bottom .talim__bottomLeft p {
    margin-top: 35px;
    max-width: 500px;
  }
}
@media (min-width: 900px) {
  .talim .talim__bottom .talim__bottomLeft h1 {
    line-height: 40px;
  }
  .talim .talim__bottom .talim__bottom__xalqaro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .talim .talim__bottom .talim__bottom__xalqaro .talim__bottom__xalqaro__inner .talim__bottom__xalqaro__main__img {
    padding-top: 5px;
    width: 100%;
  }
}
@media (min-width: 990px) {
  .talim .talim__bottom .talim__bottomTalim {
    display: flex;
    width: 100%;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .talim .talim__bottom .talim__leftTarget .talim__leftTarget__infos .talim__leftTarget__info span {
    padding: 0px 40px;
  }
  .talim .talim__bottom .talim___bottomBlog .talim__bottomBlog__cover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .talim .talim__bottom {
    align-items: start;
    gap: 10px;
  }
  .talim .talim__bottom .talim__leftTarget {
    display: flex;
    align-items: start;
    gap: 30px;
  }
  .talim .talim__bottom .talim__leftTarget .talim__leftTarget__imgCover {
    width: 330px;
    height: 430px;
    margin-top: 35px;
  }
  .talim .talim__bottom .talim__leftTarget .talim__leftTarget__infos {
    display: flex;
    gap: 55px;
  }
  .talim .talim__bottom .talim__leftTarget .talim__leftTarget__infos .talim__leftTarget__info {
    display: flex;
    flex-direction: row;
  }
  .talim .talim__bottom .talim__bottomLeft {
    margin-top: 45px;
  }
  .talim .talim__bottom .talim__bottomLeft h1 {
    width: 75%;
    padding-left: 200px;
  }
  .talim .talim__bottom .talim__bottomLeft p {
    width: 60%;
  }
  .talim .talim__bottom .talim__bottomLeft button {
    width: 30%;
  }
  .talim .talim__bottom .talim__bottomRight {
    width: 60%;
    padding: 100px 98px;
  }
  .talim .talim__bottom .talim__give__cards {
    margin-top: 50px;
  }
}
@media (min-width: 1200px) {
  .talim .talim__bottom {
    align-items: start;
    gap: 10px;
  }
  .talim .talim__bottom .talim__bottomLeft {
    margin-bottom: 40px;
  }
  .talim .talim__bottom .talim__leftTarget {
    display: flex;
    align-items: start;
    gap: 30px;
  }
  .talim .talim__bottom .talim__leftTarget .talim__leftTarget__imgCover {
    width: 330px;
    height: 430px;
    margin-top: 35px;
  }
  .talim .talim__bottom .talim__leftTarget .talim__leftTarget__infos {
    display: flex;
    gap: 55px;
  }
  .talim .talim__bottom .talim__leftTarget .talim__leftTarget__infos .talim__leftTarget__info {
    display: flex;
    flex-direction: row;
  }
  .talim .talim__bottom .talim__bottomLeft {
    margin-top: 45px;
  }
  .talim .talim__bottom .talim__bottomLeft h1 {
    width: 75%;
  }
  .talim .talim__bottom .talim__bottomLeft p {
    width: 60%;
  }
  .talim .talim__bottom .talim__bottomLeft button {
    width: 30%;
  }
  .talim .talim__bottom .talim__bottomRight {
    width: 60%;
    padding: 100px 98px;
  }
}
.pages {
  margin-top: 60px;
  margin-bottom: 50px;
}
.pages .pages__top {
  border-top: 1px solid #CCCCCC;
}
.pages .pages__top .pages__top__inner {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 10px;
}
.pages .pages__top .pages__top__inner img {
  width: 15px;
  height: 15px;
}
.pages .pages__top .pages__top__inner p {
  font-family: michroma;
  text-transform: capitalize;
}
.pages .pages__bottom {
  padding-top: 10px;
}
.pages .pages__bottom .pages__bottomLeft {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
}
.pages .pages__bottom .pages__bottomLeft h1 {
  font-weight: 600;
  font-size: clamp(20px, 4vw, 40px);
  line-height: 25px;
  color: #2E3038;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.pages .pages__bottom .pages__bottomLeft p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #828388;
}
.pages .pages__bottom .pages__bottomLeft button {
  width: 45%;
  padding: 5px 30px;
  border-radius: 20px;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #CCCCCC;
  color: #184AFB;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}
.pages .pages__bottom .pages__bottomLeft button:hover {
  background-color: #184AFB;
  color: white;
}
.pages .pages__bottom .pages__bottomRight {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 98px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px;
  border: 1px solid #CCCCCC;
}
.pages .pages__bottom .bottom__leftTarget {
  margin-top: 50px;
}
.pages .pages__bottom .bottom__leftTarget .bottom__leftTarget__imgCover {
  width: 100%;
  border-radius: 8px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 53px;
}
.pages .pages__bottom .bottom__leftTarget .bottom__leftTarget__infos {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pages .pages__bottom .bottom__leftTarget .bottom__leftTarget__infos .bottom__leftTarget__info {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pages .pages__bottom .bottom__leftTarget .bottom__leftTarget__infos .bottom__leftTarget__info p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  font-family: michroma;
}
.pages .pages__bottom .bottom__leftTarget .bottom__leftTarget__infos .bottom__leftTarget__info span {
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 1px solid #CCCCCC;
  padding: 8px 40px;
  color: #184AFB;
}
.pages .pages__bottom .bottom__leftTarget .bottom__leftTarget__infos .bottom__leftTarget__info span:hover {
  background-color: #184AFB;
  color: white;
}
.pages .pages__bottom .pages__bottomTalim__card {
  border: 1px solid #CCCCCC;
  border-radius: 12px;
  margin-top: 50px;
  padding: 20px 24px;
}
.pages .pages__bottom .pages__bottomTalim__card .talim__card__p {
  font-weight: 400;
  font-size: clamp(12px, 4vw, 16px);
  line-height: 20px;
  color: #2E3038;
  font-family: michroma;
}
.pages .pages__bottom .pages__bottomTalim__card .talim__card__img {
  padding: 20px;
  width: 200px;
  height: 200px;
}
.pages .pages__bottom .pages__bottomTalim__card .imgtwo {
  margin-top: 20px;
}
.pages .pages__bottom .pages__bottomTalim__card .pages__bottomTalim__card__infos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.pages .pages__bottom .pages__bottomTalim__card .pages__bottomTalim__card__infos p {
  font-weight: 400;
  font-size: clamp(11px, 4vw, 16px);
  font-family: michroma;
  color: rgba(46, 48, 56, 0.6);
  line-height: 20px;
}
.pages .pages__bottom .pages__bottomTalim__card .pages__bottomTalim__card__infos .pages__bottomTalim__link {
  display: flex;
  gap: 15px;
  color: #184AFB;
  align-items: center;
}
.pages .pages__bottom .pages___bottomImkon {
  margin-top: 50px;
}
.pages .pages__bottom .pages___bottomImkon .pages__bottomImkon__box {
  margin-top: 50px;
  border-bottom: 1px solid #D9D9D9;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.pages .pages__bottom .pages___bottomImkon .pages__bottomImkon__box p {
  font-weight: 400;
  font-size: clamp(12px, 4vw, 16px);
  font-family: michroma;
  padding-top: 10px;
}
.pages .pages__bottom .pages__bottomAkt {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.pages .pages__bottom .pages__bottomAkt .pages__bottomAkt__card {
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  padding: 20px 30px;
}
.pages .pages__bottom .pages__bottomAkt .pages__bottomAkt__card .pages__bottomAkt__infos {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.pages .pages__bottom .pages__bottomAkt .pages__bottomAkt__card .pages__bottomAkt__infos h4 {
  font-size: 16px;
  font-family: michroma;
  font-weight: 400;
}
.pages .pages__bottom .pages__bottomAkt .pages__bottomAkt__card .pages__bottomAkt__infos p {
  font-size: 12px;
  font-family: michroma;
  color: #828388;
}
.pages .pages__bottom .pages__bottomAkt .pages__bottomAkt__card .pages__bottomAkt__infos button {
  width: 166px;
  height: 36px;
  margin-top: 20px;
  color: #184AFB;
  border: 1px solid #CCCCCC;
  border-radius: 20px;
  text-transform: capitalize;
  background-color: transparent;
}
.pages .pages__bottom .pages__bottomAkt .pages__bottomAkt__card .pages__bottomAkt__infos button:hover {
  background-color: #184AFB;
  color: white;
}
.pages .pages__bottom .pages_bottomXamkor {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.pages .pages__bottom .pages_bottomXamkor .pages__bottomXamkor__inner {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  border-top: 2px solid #CCCCCC;
  border-bottom: 2px solid #CCCCCC;
}
.pages .pages__bottom .pages_bottomXamkor .pages__bottomXamkor__inner p {
  font-weight: 700;
  font-size: 32px;
  color: #184AFB;
}
.pages .pages__bottom .pages_bottomXamkor .pages__bottomXamkor__inner__extra {
  padding: 54px;
  display: flex;
  width: 360px;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #CCCCCC;
  border-bottom: 2px solid #CCCCCC;
}
.pages .pages__bottom .pages_bottomXamkor .bottomXamkor__line {
  border: 1.5px solid #CCCCCC;
  height: 120px;
  display: none;
}
.pages .pages__bottom .pages__bottomLeft__btn__cover {
  width: 60%;
}
.pages .pages__bottom .pages__bottomLeft__btn__cover button {
  text-transform: capitalize;
  display: flex;
  gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
}
.pages .pages__bottom .pages__bottomTeam {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pages .pages__bottom .pages__bottomTeam .pages__bottomTeam__acc {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.pages .pages__bottom .pages__bottomTeam .pages__bottomTeam__acc .pages__bottomTeam__acc__infos {
  padding: 20px;
  height: 20px;
  border-left: 2px solid #CCCCCC;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pages .pages__bottom .pages__bottomTeam .pages__bottomTeam__acc .pages__bottomTeam__acc__infos h4 {
  font-weight: 400;
  font-size: clamp(14px, 4vw, 16px);
  font-family: michroma;
  color: #56585E;
}
.pages .pages__bottom .pages__bottomTeam .pages__bottomTeam__acc .pages__bottomTeam__acc__infos p {
  font-weight: 400;
  font-size: clamp(14px, 4vw, 16px);
  color: #828388;
}

@media (min-width: 630px) {
  .pages .pages__bottom {
    display: flex;
    gap: 15px;
  }
  .pages .pages__bottom .pages__bottomLeft h1 {
    margin-top: 45px;
  }
  .pages .pages__bottom .pages__bottomRight {
    width: 50%;
  }
  .pages .pages__bottom .pages__bottomTeam {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 630px) {
  .pages #target {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .pages #target .pages__bottomLeft h1 {
    margin-top: 40px;
  }
  .pages #target .pages__bottomRight {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .pages .pages__bottom .pages__bottomLeft {
    display: flex;
    flex-direction: column;
  }
  .pages .pages__bottom .pages__bottomLeft h1 {
    line-height: 40px;
  }
  .pages .pages__bottom .pages__bottomLeft p {
    margin-top: 35px;
    max-width: 500px;
  }
  .pages .pages__bottom .pages_bottomXamkor {
    display: flex;
    flex-direction: row;
  }
  .pages .pages__bottom .pages_bottomXamkor .bottomXamkor__line {
    display: block;
  }
}
@media (min-width: 800px) {
  .pages .pages__bottom .sideone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }
  .pages .pages__bottom .sideone h1 {
    line-height: 40px;
  }
  .pages .pages__bottom .sideone p {
    margin-top: 35px;
    max-width: 500px;
  }
  .pages .pages__bottom .sideone .pages__bottomLeft__btn__cover button {
    width: 50%;
    display: flex;
    gap: 10px;
    text-transform: capitalize;
  }
  .pages .pages__bottom .pages_bottomXamkor {
    display: flex;
    flex-direction: row;
  }
  .pages .pages__bottom .pages_bottomXamkor .bottomXamkor__line {
    display: block;
  }
}
@media (min-width: 900px) {
  .pages .pages__bottom .pages__bottomAkt .pages__bottomAkt__card {
    display: flex;
    gap: 80px;
  }
  .pages .pages__bottom .sideone .pages__bottomLeft__btn__cover {
    display: flex;
    justify-content: end;
  }
  .pages .pages__bottom .pages__bottomTeam {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 990px) {
  .pages .pages__bottom .pages__bottomTalim {
    display: flex;
    width: 100%;
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  .pages .pages__bottom .bottom__leftTarget .bottom__leftTarget__infos .bottom__leftTarget__info span {
    padding: 0px 40px;
  }
}
@media (min-width: 1200px) {
  .pages .pages__bottom {
    display: flex;
    align-items: start;
    gap: 10px;
    padding-left: 200px;
  }
  .pages .pages__bottom .bottom__leftTarget {
    display: flex;
    align-items: start;
    gap: 30px;
  }
  .pages .pages__bottom .bottom__leftTarget .bottom__leftTarget__imgCover {
    width: 330px;
    height: 430px;
    margin-top: 35px;
  }
  .pages .pages__bottom .bottom__leftTarget .bottom__leftTarget__infos {
    display: flex;
    gap: 55px;
  }
  .pages .pages__bottom .bottom__leftTarget .bottom__leftTarget__infos .bottom__leftTarget__info {
    display: flex;
    flex-direction: row;
  }
  .pages .pages__bottom .pages__bottomLeft {
    margin-top: 45px;
  }
  .pages .pages__bottom .pages__bottomLeft h1 {
    width: 75%;
  }
  .pages .pages__bottom .pages__bottomLeft p {
    width: 60%;
  }
  .pages .pages__bottom .pages__bottomLeft button {
    width: 30%;
  }
  .pages .pages__bottom .pages__bottomRight {
    width: 60%;
    padding: 100px 98px;
  }
  .pages .pages__bottom .pages___bottomImkon {
    display: grid;
    gap: 110px;
    grid-template-columns: repeat(2, 1fr);
  }
  .pages .pages__bottom .pages___bottomImkon .pages__bottomImkon__box {
    display: block;
  }
  .pages .pages__bottom .pages__bottomTeam {
    display: grid;
    gap: 120px;
  }
}
.footer__wrapper {
  margin-top: 40px;
  margin-bottom: 30px;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksCover {
  display: flex;
  gap: 100px;
  padding-top: 30px;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksCover ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  color: #56585E;
  font-size: 16px;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksCover ul a:hover {
  text-decoration: underline;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksArrow {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksArrow .footer__wrapper__coverLists__linksArrow__inner {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 15px;
  cursor: pointer;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksArrow .footer__wrapper__coverLists__linksArrow__inner .linksArrow__inner__cover {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksArrow .footer__wrapper__coverLists__linksArrow__inner .linksArrow__inner__cover img {
  width: 20px;
  height: 20px;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksArrow .footer__wrapper__coverLists__linksArrow__inner .linksArrow__inner__cover p {
  font-weight: 400;
  font-size: 16px;
  color: #56585E;
  font-family: michroma;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksArrow .footer__wrapper__coverLists__linksArrow__inner .arrow__img {
  width: 30px;
  height: 30px;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__soials {
  border-top: 1px solid #CCCCCC;
  margin-top: 60px;
  padding-top: 15px;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__soials .footer__wrapper__soials__cover {
  height: 40px;
  background-color: #56585E;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}
.footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__soials .footer__wrapper__soials__cover p {
  font-family: michroma;
  color: white;
  text-transform: capitalize;
}

@media (min-width: 992px) {
  .footer__wrapper .footer__wrapper__allLinksCover {
    margin-left: 200px;
  }
  .footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists {
    display: flex;
    gap: 100px;
    justify-content: space-between;
  }
  .footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksCover {
    display: flex;
    gap: 200px;
  }
  .footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksCover ul {
    display: flex;
    gap: 20px;
  }
  .footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__coverLists .footer__wrapper__coverLists__linksArrow {
    width: 45%;
  }
  .footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__soials {
    display: flex;
    gap: 15px;
  }
  .footer__wrapper .footer__wrapper__allLinksCover .footer__wrapper__soials .footer__wrapper__soials__cover {
    width: 40%;
  }
}