* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: poppins;
}

.container {
    width: 85%;
    margin: 0 auto;
}

a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: michroma;
    src: url(../fonts/Michroma/Michroma-Regular.ttf);
}
