.headphones {
    margin-top: 100px;
    // padding: 10px;
    // padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    .headphones__img {
        width: 100%;
    }.headphones__cover {
        width: 100%;
        padding: 20px;
        border-radius: 12px;
        background-color: #F5F5F5;
        .headphones__cover__infos {
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            h1 {
                font-weight: 600;
                font-size: clamp(20px, 2vw, 40px);
                color: #2E3038;
                text-transform: uppercase;

            }
            p {
                font-weight: 400;
                font-size: 16px;
                color: #2E303899;
            }
            
        }
        .headphones__cover__btn__cover {
            margin-left: 20px;
            button {
                width: 210px;
                height: 36px;
                border-radius: 20px;
                background-color: #184AFB;
                border: transparent;
                font-weight: 400;
                font-family: michroma;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                transition: all 0.3s ease-out;
                cursor: pointer;
                &:hover {
                    background-color: #fff;
                    color: #184AFB;
                    border: 1px solid #CCCCCC;
                }
                span {
                    font-family: michroma;
                    font-size: 15px;
                }
            }
        }
    }
}


@media (min-width:560px) {
    .headphones {
        .headphones__img {
            // height: 800px;
        }
    }
}

@media (min-width:885px) {
    .headphones {
        display: flex;
        flex-direction: row;
        .headphones__img {
            width: 50%;

            
        }
        
    }
}
@media (min-width:1200px) {
    .headphones {
        display: flex;
        flex-direction: row;
        .headphones__img {
            width: 50%;

            
        }
        .headphones__cover {
            display: flex;
            // background-color: red;
            .headphones__cover__btn__cover {
                margin-top: auto;
                margin-bottom: 25px;
            }
        }
        
    }
}
@media (min-width:1300px) {
    .headphones {
        display: flex;
        flex-direction: row;
        .headphones__img {
            width: 50%;

            
        }
        .headphones__cover {
            display: flex;
            // background-color: red;
            .headphones__cover__btn__cover {
                margin-top: auto;
                margin-bottom: 150px;
            }
        }
        
    }
}