.hero {
    padding-top: 120px;
    .hero__title {
        padding-bottom: 30px;
        h1 {
            font-weight: 600;
            font-size: clamp(20px, 4vw, 40px);
            color: #2E3038;

        }
    }
    .hero__imgCover {
        padding-bottom: 16px;
        width: 100%;
        img {
            width: 100%;
        }
    }
    .hero__info {
        border-bottom: 1px solid #CCCCCC;
        padding-bottom: 30px;   
        .hero__info__desk {
            font-weight: 400;
            font-size: 12px, 2vw, 16px;
            color: #828388  ;
        }
        .hero__info__btnCover  {
            margin-top: 30px;
            button {
                width: 166px;
                height: 36px;
                border-radius: 20px;
                border: 1px solid #CCCCCC;
                color: #184AFB;
                background-color: transparent;
                font-size: clamp(14px, 2vw, 16px);
                &:hover {
                    background-color: #184AFB;
                    color: white;
                }
            }

        }
    }
    .hero__level {
        margin-top: 30px;
        h1 {
            font-weight: 600;
            font-size: clamp(16px, 4vw, 32px);
        }
        .hero__level__cards {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .hero__level__card {
                .hero__level__card__imgCover {
                    border-radius: 20px;
                    background-color: #F5F5F5;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 30px 100px;
                }
                p {
                    margin-top: 20px;
                    font-weight: 400;
                    font-size: 14px;
                    color: #2E3038;
                    font-family: michroma;
                    text-transform: capitalize;
                }
            }
        }
    }
    .hero__market {
        margin-top: 80px;
        .hero__market__innerCover {
            border-bottom: 1px solid #CCCCCC;
            padding-bottom: 20px;
            margin-bottom: 20px;
            .hero__market__img {
                margin-top: 20px;
            }
            .hero__market__innerCover__infos {
                display: flex;
                flex-direction: column;
                gap: 24px;
                p {
                    font-weight: 400;
                    font-size: clamp(12px, 4vw, 16px);
                    color: #3D5A5C;
                }
                .infos__top {
                    display: flex;
                    gap: 25px;
                    p {
                        font-weight: 400;
                        font-size: clapm(14px, 4vw, 24px);
                        color: #141E1F;
                        font-family: michroma;
                    }
                }
            }
        }
    }
}


@media (min-width:700px) {
    .hero {
        .hero__stats {
            .left__line {
                border-right: 1px solid  #CCCCCC;
            }            
        }
        .hero__start {
            .hero__start__imgsCover {
                display: flex;
                flex-direction: column;
                gap: 20px;
                justify-content: center;
                .hero__start__imgsCover__imgInfo {
                    display: flex;
                    flex-direction: row;
                    height: 200px;
                    align-items: center;
                    .hero__start__info {
                        margin-top: 50px;
                        padding-bottom: 50px;
                        span {
                            margin-top:60px;
                        }
                    }
                }   
            }
        }
        .hero__tadbir {
           .hero__tadbir__imgs {
            display: flex;
            flex-direction: row;
           } 
        }
        .hero__market {
            .hero__market__innerCover {
                display: flex;
                align-items: center;
                gap: 20px;
                justify-content: space-between;
            }
        }
       
        
        
    }
}
@media (min-width:838px) {
    .hero {
        .hero__infoImgs {
           .hero__infoImgs__img__cover {
            display: flex;
            flex-direction: row;
           } 
        }
        .hero__info {
            display: flex;
            align-items: center;
            gap: 10px;
            .hero__info__btnCover {
                padding-bottom: 35px;
            }
        }

        
        
    }
}
@media (min-width:1080px) {
    .hero {
        .hero__infoImgs {
           .hero__infoImgs__img__cover {
            display: flex;
            flex-direction: row;
           } 
        }
        .hero__info {
            display: flex;
            align-items: center;
            gap: 10px;
            .hero__info__btnCover {
                padding-bottom: 35px;
            }
        }

        .hero__level {
           .hero__level__cards {
            display: grid;
            grid-template-columns: repeat(2,1fr);
           } 
        }
        
        
    }
}


@media (min-width:1200px) {
    .hero {
        padding-left: 300px;
        .hero__stats {
            .left__line {
                height: 120px;
            }
        }
        .hero__infoImgs {
           .hero__infoImgs__info__cover {
            display: flex;
            align-items: center;
            .hero__infoImgs__info__cover__btnCover {
                margin-bottom: 25px;
            }
           } 
        }   
    }
}
@media (min-width:1300px) {
    .hero {
        padding-left: 300px;
        .hero__stats {
            .left__line {
                height: 120px;
            }
        }
        .hero__infoImgs {
            .hero__infoImgs__img__cover {
                display: flex;
                gap: 20px;
                .hero__infoImgs__img {
                    padding: 60px 126px;
                }
            }
           .hero__infoImgs__info__cover {
            display: flex;
            align-items: center;
            .hero__infoImgs__info__cover__btnCover {
                margin-bottom: 25px;
            }
           } 
        }   
    }
}